CONFIG_KUNIT=y
CONFIG_ARM64_16K_PAGES=y
CONFIG_ARM64_VA_BITS_48=y
CONFIG_ARM64_PA_BITS_48=y
CONFIG_ARM64_USER4K_EXPERIMENTAL=y
CONFIG_ARM64_USER4K_DATA_KUNIT_TEST=y
# CONFIG_ARM64_USER4K_KUNIT_TEST is not set
CONFIG_KASAN=y
CONFIG_KASAN_GENERIC=y
CONFIG_KASAN_INLINE=y
CONFIG_SMP=y
CONFIG_PRINTK=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_POWER_RESET=y
CONFIG_POWER_RESET_SYSCON=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_TMPFS=y
