// SPDX-License-Identifier: GPL-2.0+ OR MIT
/* J613 with the exact 25G83 firmware profile. */
#include "t8122-j613.dts"
#include "t8122-j613-dcp-25g83.dtsi"

/* The 25G83 MTP_SYS uses GPIO-mediated AFE power sequencing. */
&mtp_hid {
	multi-touch {
		apple,power-method = <2>;
	};
};
